<!DOCTYPE html>

<!--
  Google HTML5 slide template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)
           
           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
-->

<html>
  <head>
    <title>LaTeX Training - Sajjad Anwar</title>

    <meta charset='utf-8'>
    <!--<script
      src='/home/geohacker/Projects/Latex-Workshop/slides/slides.js'></script>-->
<script
      src='http://sajjad.in/content/slides/slides.js'></script>
  </head>
  
  <style>
    /* Your individual styles here, or just use inline styles if that’s
       what you want. */
    
    
  </style>

  <body style='display: none'>

    <section class='slides layout-faux-widescreen template-default'>
      
      <!-- Your slides (<article>s) go here. Delete or comment out the
 
          slides below. -->

      <article class='fill'>
        <p>
          <img src='../images/jinesh2.jpg'>
        </p>
      </article>  

      <article class='fill'>
        <p>
          <img src='../images/dennis_ritchie.jpg'>
        </p>
      </article>  
      
      <article class='fill'>
        <p>
          <img src='../images/steve_jobs.jpg'>
        </p>
      </article>  
      
   
   
      <article>
        <h1>
          LaTeX
          <br>
          for the Newbie
        </h1>
        <p>
          Sajjad Anwar
          <br>
          Technology Consultant</p>
          <p>@geohacker</p>
        
      </article>
      
    <article>
        <h2>
          LaTeX, the language of documents.
        </h2>
       <p>
        <div class="build">
          <p>LaTeX is a Document Preparation System.</p>
          <p>Document Markup Language.</p>
          <p>Based on TeX by Donald E Knuth.</p>          
	  <p>Highest typographical quality.</p>
          <p>Pre-designed, Professional templates.</p>
          <p>Introduced by Leslie Lamport.</p>
        </div>
 </p>
       
      </article>

      <article>
        <h1>
          Language? <br> <p>Yes. </p> <p>But you don't have to be a programmer.</p>
        </h1>
    </article>

    <article>
        <q>
          LaTeX can save about two months formatting time of the average 3–4 year writing cycle.
        </q>
        <div class='author'>
          Peter Flynn
        </div>
      </article>

      <article>
   <h3>
  <br>
        </h3>
       
           <ul class="build">
          <li>
            <p>Portable. <br>LaTeX doesn't care if you are on Windows, Linux or Mac.
          </p><li>
            <p>Quality. <br>Mathematical, Multilingual.</p>
          <li>
            <p>Control. <br>Books, Bibliography.</p>
          <li>
            <p>Modular. <br>Document writing, one drop at a time.</p></p>
          <li>
            <p>Freedom. <br>Live happily ever after.</p></p>
        </ul>
 </div>
        </article>

      <article>
        <p>
      <h1> WYMIWYG </h1>
        </p>
        <p>
          What You Mean Is What You Get. <p>
          <div class="build">
          <p>Header, Footer</p>
          <p>Margins</p> 
          <p>Paragraphs</p> 
          <p>Pages</p>         
</div>
        </p><br><br>
      </article>

  <article>
   <h1>
  Welcome!
   </h1>
 <p> Producing LaTeX documents. <br>The basics.
  </article>

      <article> 
<h2>        <code>
\documentclass{article} <br><br>
\begin{document} <br><br>
Hello world! <br><br>
\end{document} <br><br>
</code></h2>
      </article>


      <article> 
<h2>
<code class="build">
<p>\documentclass{article} <br><br> </p>
<p>\begin{document} <br><br> </p>
<br>Hello world! <br><br>
<p>\end{document} <br><br> </p>
</code>
</h2>
  </article>

 <article>
   <h3> <br><br><br>
  Document Class
   </h3>
 <p> Report. 
 <p>Article. 
 <p>Letter. 
<p>Book. 
<p>Slides. </p>
  </article>

<article> 
<code>
\documentclass{article}<br><br>
\title{My First \LaTeX\ Article}<br><br>
\author{Sajjad Anwar}<br><br>
\date{\today}<br><br>
\begin{document}<br><br>
\maketitle<br><br>
Place the body of your article here.<br><br>
\end{document}<br>
</code></article>

<article> 
<h2> <br><br> <br><br>Document Structure.</h2>
<h3><code class="build">
<p>\abstract{...} 
<p>\part{...}
<p>\chapter{...}
<p>\section{...}
<p>\subsection{...}
<p>\subsubsection{...}
<p>\paragraph{...}
<p>\subparagraph{...}</p>
</code>
</article>

  <article>
   <h1>
Table of Contents
   </h1>
 <p> Not painful, anymore.</p>
  </article>

  <article>
   <h1>
\tableofcontents</h1>
  </article>


  <article>
   <h1>
Bibliography
   </h1>
 <p> List and Cite. Anywhere.</p>
  </article>

<article class='smaller'>
<br><br><br><br><br><br>
<code>
<h3>
<p>\begin{thebibliography}{Dennis}</p>
<p>\bibitem[Dennis Ritchie, 1973]{dennis} <p>C Programming Language, \emph{Bell Labs}</p>
<p>\end{thebibliography}</p> </h3>
</code>
</article>


  <article>
   <h1> Lists
</h1>
<p> Enumerated. Bulleted
  </article>


<article>
<br><br><br>
<code>
<p>\begin{enumerate}</p>
<p> \item Automated traffic surveillance.</p>
<p> \item Automated high-way/parking.</p>
<p> \item Automation of petrol stations.</p>
<p> \item Journey time monitoring.</p>
<p>\end{enumerate}</p>
</code>
</article>

<article>
<br><br><br>
<code>
<p>\begin{itemize}</p>
<p> \item Automated traffic surveillance.</p>
<p> \item Automated high-way/parking.</p>
<p> \item Automation of petrol stations.</p>
<p> \item Journey time monitoring.</p>
<p>\end{itemize}</p>
</code>
</article>

  <article>
   <h1>
Graphics
   </h1>
 <p> Insert. Scale.</p>
  </article>

<article>
<br><br><br><br><br><br><br>
<code>
<p>\includegraphics{logo.png}</p>
</code>
</article>

  <article>
<br>
<h3>File Types</h3>
<br>
<p><b>.tex</b> <br>LaTeX or TeX input file.</p>
<p><b>.sty </b><br> LaTeX macro package. Loaded using the "\usepackage" command. </p>
<p><b>.cls</b> <br>Class files define what your document looks like. Selected with the "\documentclass" command. </p>
 </article>

  <article>
   <h2>
Setting up LaTeX</h2>
<br><br><br><br>
<p><b>Windows</b> <br>MiKTeX | <a href='http://miktex.org'>miktex.org</a></p>
<p><b>GNU/Linux</b> <br>Kile | TeX Live | Text Editor | pdflatex </p>
 </article>


  <article>
   <h1>
Code
   </h1>
 <p><a href ="https://github.com/geohacker/latex-workshop">github.com/geohacker/latex-workshop</a></p>
  </article>
  
<article>
   <h1>
<b>\o/ <br>You Win</b> <br><br> Thank you!</h1>
  </article>

      </section>

   <section class='slides layout-faux-widescreen template-black'>

    <article class="smaller">
        <q class="white">
   You are what you do. <br>If you do boring, stupid, monotonous work, chances are you'll end up boring, stupid, and monotonous. 
          </q>
        <div class='author'>
          Bob Black
        </div>
      </article>
   
  <article>
   <h1 class="white">
<center><br>Learn</center>
   </h1>
  </article>

  <article>
   <h1 class="white">
<center><br>Network</center>
   </h1>
  </article>

  <article>
   <h1 class="white">
<center><br>Challenge</center>
   </h1>
  </article>

  <article>
   <h1 class="white">
<center><br>Bleeding Edge</center>
   </h1>
  </article>

  <article>
   <h1 class="white">
<center><br>Build <i>Stuff</i></center>
   </h1>
  </article>


  <article>
   <h1 class="white">
<center><br>Rewards</center>
   </h1>
  </article>

</section>

 <section class='slides layout-faux-widescreen template-default'>
    <article>
        <p> <br><br><br><br>
          <img class='centered' src='../images/github.png'>
        </p>
         </article>
</section>
  <section class='slides layout-faux-widescreen template-black'>
  <article>
   <h1 class="white">
<center><br>No Dress Code :) </center>
   </h1>
  </article>
</section>
 
  <section class='slides layout-faux-widescreen template-default'>


    <article>
        <p> <br><br><br><br><br>
          <img class='centered' src='../images/apu.png'>
        </p>
         </article>

 
  <article>
        <p><br>
          <img class='centered' style='height: 500px' src='../images/hasgeek.png'>
        </p>
         </article>


    <article>
        <p> <br><br><br>
          <img class='centered' src='../images/boost.jpg'>
        </p>
         </article>
</section>

  <section class='slides layout-faux-widescreen template-black'>


  <article>
   <h1 class="white">
<center><br>Events</center>
   </h1>
  </article>

  <article>
   <h1 class="white">
<br>Droidcon is happening in India!
   </h1>
  </article>


  <article>
   <h1 class="white">
<center><br>Clients from <b class="red" >HELL</b></h1></center>
  </article>

</section>

  <section class='slides layout-faux-widescreen template-default'>

  <article>
   <h2 class="gray">
me@sajjad.in | sajjad.in <hr>
<br>
@geohacker<br>
github.com/geohacker<br>
   </h2>
  </article>
</section>

  </body>
</html>


<!--
      <article class='smaller'>
        <h3>
          Simple slide with header and text (small font)
        </h3>
        <p>
          This is a slide with just text. This is a slide with just text.
          This is a slide with just text. This is a slide with just text.
          This is a slide with just text. This is a slide with just text.
        </p>
        <p>
          There is more text just underneath with a <code>code sample: 5px</code>.
        </p>
      </article>

      <article>
        <h3>
          Slide with bullet points and a longer title, just because we
          can make it longer
        </h3>
        <ul>
          <li>
            Use this template to create your presentation
          </li>
          <li>
            Use the provided color palette, box and arrow graphics, and
            chart styles
          </li>
          <li>
            Instructions are provided to assist you in using this
            presentation template effectively
          </li>
          <li>
            At all times strive to maintain Google's corporate look and feel
          </li>
        </ul>
      </article>

      <article>
        <h3>
          Slide with bullet points that builds
        </h3>
        <ul class="build">
          <li>
            This is an example of a list
          </li>
          <li>
            The list items fade in
          </li>
          <li>
            Last one!
          </li>
        </ul>

        <div class="build">
          <p>Any element with child nodes can build.</p>
          <p>It doesn't have to be a list.</p>
        </div>
      </article>

      <article class='smaller'>
        <h3>
          Slide with bullet points (small font)
        </h3>
        <ul>
          <li>
            Use this template to create your presentation
          <li>
            Use the provided color palette, box and arrow graphics, and
            chart styles
          <li>
            Instructions are provided to assist you in using this
            presentation template effectively
          <li>
            At all times strive to maintain Google's corporate look and feel
        </ul>
      </article>

      <article>
        <h3>
          Slide with a table
        </h3>
        
        <table>
          <tr>
            <th>
              Name
            <th>
              Occupation
          <tr>
            <td>
              Luke Mahé
            <td>
              V.P. of Keepin’ It Real
          <tr>
            <td>
              Marcin Wichary
            <td>
              The Michael Bay of Doodles
        </table>
      </article>
      
      <article class='smaller'>
        <h3>
          Slide with a table (smaller text)
        </h3>
        
        <table>
          <tr>
            <th>
              Name
            <th>
              Occupation
          <tr>
            <td>
              Luke Mahé
            <td>
              V.P. of Keepin’ It Real
          <tr>
            <td>
              Marcin Wichary
            <td>
              The Michael Bay of Doodles
        </table>
      </article>
      
      <article>
        <h3>
          Styles
        </h3>
        <ul>
          <li>
            <span class='red'>class="red"</span>
          <li>
            <span class='blue'>class="blue"</span>
          <li>
            <span class='green'>class="green"</span>
          <li>
            <span class='yellow'>class="yellow"</span>
          <li>
            <span class='black'>class="black"</span>
          <li>
            <span class='white'>class="white"</span>
          <li>
            <b>bold</b> and <i>italic</i>
        </ul>
      </article>
      
      <article>
        <h2>
          Segue slide
        </h2>
      </article>

      <article>
        <h3>
          Slide with an image
        </h3>
        <p>
          <img style='height: 500px' src='images/example-graph.png'>
        </p>
        <div class='source'>
          Source: Sergey Brin
        </div>
      </article>

      <article>
        <h3>
          Slide with an image (centered)
        </h3>
        <p>
          <img class='centered' style='height: 500px' src='images/example-graph.png'>
        </p>
        <div class='source'>
          Source: Larry Page
        </div>
      </article>

      <article class='fill'>
        <h3>
          Image filling the slide (with optional header)
        </h3>
        <p>
          <img src='images/example-cat.jpg'>
        </p>
        <div class='source white'>
          Source: Eric Schmidt
        </div>
      </article>


      
      <article class='smaller'>
        <h3>
          This slide has some code (small font)
        </h3>
        <section>
        <pre>
&lt;script type='text/javascript'&gt;
  // Say hello world until the user starts questioning
  // the meaningfulness of their existence.
  function helloWorld(world) {
    for (var i = 42; --i &gt;= 0;) {
      alert('Hello ' + String(world));
    }
  }
&lt;/script&gt;
&lt;style&gt;
  p { color: pink }
  b { color: blue }
  u { color: 'umber' }
&lt;/style&gt;
</pre>
        </section>
      </article>
      
      <article>
        <q>
          The best way to predict the future is to invent it.
        </q>
        <div class='author'>
          Alan Kay
        </div>
      </article>
      
      <article class='smaller'>
        <q>
          A distributed system is one in which the failure of a computer 
          you didn’t even know existed can render your own computer unusable.
        </q>
        <div class='author'>
          Leslie Lamport
        </div>
      </article>
      
      <article class='nobackground'>
        <h3>
          A slide with an embed + title
        </h3>
        
        <iframe src='http://www.google.com/doodle4google/history.html'></iframe>
      </article>

      <article class='nobackground'>
        <iframe src='http://www.google.com/doodle4google/history.html'></iframe>
      </article>

      <article class='fill'>
        <h3>
          Full-slide embed with (optional) slide title on top
        </h3>
        <iframe src='http://www.google.com/doodle4google/history.html'></iframe>
      </article>
      
      <article>
        <h3>
          Thank you!
        </h3>
        
        <ul>
          <li>
            <a href='http://www.google.com'>google.com</a>
        </ul>
      </article>

